In [3]:
import streamlit as st
import pandas as pd
import requests
import numpy as np
import yfinance as yf
from dune_client.client import DuneClient

In [2]:
@st.cache_data()
def fetch_data_from_api(api_url, params=None):
    response = requests.get(api_url, params=params)
    if response.status_code == 200:
        data = response.json()
        if 'rows' in data['result']:
            return pd.DataFrame(data['result']['rows'])
        return data
    else:
        print(f"Failed to retrieve data: {response.status_code}")
        return pd.DataFrame()  # or an empty dict

2024-03-18 13:30:01.002 WARNING streamlit.runtime.caching.cache_data_api: No runtime found, using MemoryCacheStorageManager

In [91]:
def fetch_historical_data(api_url, api_key):
    # Use the API key either as a query parameter or in the headers
    params = {'vs_currency': 'usd', 'days': 'max', 'interval': 'daily', 'x_cg_demo_api_key': api_key}
    headers = {'x-cg-demo-api-key': api_key}  # Alternatively, use this header

    response = requests.get(api_url, params=params, headers=headers)

    if response.status_code == 200:
        # Parse the JSON response
        mkr_historical_pricedata = response.json()
        # Extract the 'prices' and 'market_caps' data
        mkr_historical_price = mkr_historical_pricedata['prices']
        mkr_market_cap = pd.DataFrame(mkr_historical_pricedata['market_caps'], columns=['date', 'marketcap'])

        # Convert the 'timestamp' column from UNIX timestamps in milliseconds to datetime objects
        mkr_history = pd.DataFrame(mkr_historical_price, columns=['timestamp', 'price'])
        mkr_history['date'] = pd.to_datetime(mkr_history['timestamp'], unit='ms')
        mkr_history.set_index('date', inplace=True)
        mkr_history.drop(columns='timestamp', inplace=True)

        mkr_vol = pd.DataFrame(mkr_historical_pricedata['total_volumes'], columns=['date', 'volume'])
        mkr_vol['date'] = pd.to_datetime(mkr_vol['date'], unit='ms')
        mkr_vol.set_index('date', inplace=True)
        
        return mkr_history, mkr_market_cap, mkr_vol
    else:
        print(f"Failed to retrieve data: {response.status_code}")
        return pd.DataFrame(), pd.DataFrame()

In [75]:
api_key_dune = st.secrets["api_key"]
api_key_cg = st.secrets["api_key_cg"]
api_key_FRED = st.secrets["FRED_API_KEY"]

In [76]:
dune = DuneClient(api_key_dune)

In [77]:
@st.cache_data()
def fetch_dune_data(num):
    result = dune.get_latest_result(num)
    return pd.DataFrame(result.result.rows)

2024-03-18 15:14:43.906 No runtime found, using MemoryCacheStorageManager

### First, lets get MakerDAO Financial Statements from https://dune.com/steakhouse/makerdao

Balance Sheet

In [5]:
# Balance Sheet

bs_raw = dune.get_latest_result(2840463)

In [16]:
bs_df = pd.DataFrame(bs_raw.result.rows)
bs_df['period'] = pd.to_datetime(bs_df['period'])
bs_df.set_index('period', inplace=True)
bs_df.index = bs_df.index.normalize()
bs_df = bs_df.sort_index()

In [28]:
pd.options.display.float_format = '{:,.2f}'.format

In [29]:
bs_df

                                    balance               item  normalized
period
2020-07-01 00:00:00+00:00    -32,695,722.07                DSR       -0.23
2020-07-01 00:00:00+00:00   -111,909,502.58                DAI       -0.77
2020-07-01 00:00:00+00:00    144,805,383.35       Crypto-Loans        1.00
2020-07-01 00:00:00+00:00               NaN      Others assets         NaN
2020-07-01 00:00:00+00:00       -200,158.70             Equity       -0.00
...                                     ...                ...         ...
2024-03-18 00:00:00+00:00  1,082,824,203.90  Real-World Assets        0.23
2024-03-18 00:00:00+00:00         48,533.09      Others assets        0.00
2024-03-18 00:00:00+00:00  2,567,598,486.32       Crypto-Loans        0.55
2024-03-18 00:00:00+00:00  1,042,157,738.63        Stablecoins        0.22
2024-03-18 00:00:00+00:00 -3,218,438,835.33                DAI       -0.69

[9499 rows x 3 columns]

In [37]:
#categorizing items as asset, liability, or equity
def categorize_item(item):
    if item in ['Crypto-Loans', 'Real-World Assets', 'Others assets', 'Stablecoins']:
        return 'Assets'
    elif item in ['DAI','DSR']:  # Assuming DAI represents a liability here; adjust according to your accounting rules
        return 'Liabilities'
    elif item == 'Equity':
        return 'Equity'
    else:
        return 'Other'  # For any item not explicitly categorized

# Assuming 'df' is your DataFrame
bs_df['category'] = bs_df['item'].apply(categorize_item)

In [50]:
bs_df = bs_df.iloc[::-1]

In [51]:
bs_df

,balance,item,normalized,category
period,,,,
2024-03-18 00:00:00+00:00,"-3,218,438,835.33",DAI,-0.69,Liabilities
2024-03-18 00:00:00+00:00,"1,042,157,738.63",Stablecoins,0.22,Assets
2024-03-18 00:00:00+00:00,"2,567,598,486.32",Crypto-Loans,0.55,Assets
2024-03-18 00:00:00+00:00,"48,533.09",Others assets,0.00,Assets
2024-03-18 00:00:00+00:00,"1,082,824,203.90",Real-World Assets,0.23,Assets
...,...,...,...,...
2020-07-01 00:00:00+00:00,"-200,158.70",Equity,-0.00,Equity
2020-07-01 00:00:00+00:00,NaN,Others assets,NaN,Assets
2020-07-01 00:00:00+00:00,"144,805,383.35",Crypto-Loans,1.00,Assets
2020-07-01 00:00:00+00:00,"-111,909,502.58",DAI,-0.77,Liabilities
2020-07-01 00:00:00+00:00,"-32,695,722.07",DSR,-0.23,Liabilities

MONTHLY Income Statement/PnL (also includes more detailed balance sheet)

In [57]:
is_df = fetch_dune_data(2641549)

In [58]:
is_df.head()

,expenses,item,lending_income,liquidation_income,month,net_income,period,trading_income,value,year
0,"-835,933.42",1 - PnL,"8,597,483.68","4,159.87",3,"7,765,710.13",2024-03,0.00,NaN,2024
1,NaN,1.1 - Lending Revenues,NaN,NaN,3,NaN,2024-03,NaN,"14,051,670.00",2024
2,NaN,1.2 - Liquidations Revenues,NaN,NaN,3,NaN,2024-03,NaN,"4,159.87",2024
3,NaN,1.3 - Trading Revenues,NaN,NaN,3,NaN,2024-03,NaN,0.00,2024
4,NaN,1.4 - Lending Expenses,NaN,NaN,3,NaN,2024-03,NaN,"-5,454,186.33",2024

In [63]:
is_df_wide = is_df.pivot_table(index='period', columns='item', values='value', aggfunc='sum').reset_index()
is_df_wide = is_df_wide.iloc[::-1]

In [65]:
is_df_wide.head()

item,period,1 - PnL,1.1 - Lending Revenues,1.2 - Liquidations Revenues,1.3 - Trading Revenues,1.4 - Lending Expenses,1.5 - Liquidations Expenses,1.6 - Workforce Expenses,1.9 - Net Income,2 - Assets,2.1 - Crypto Loans,2.2 - Trading Assets,2.8 - Operating Reserves,2.9 - Total Assets,3 - Liabilities & Equity,3.1 - Liabilities (DAI),3.7 - Equity (Surplus Buffer),3.8 - Equity (Operating Reserves),3.9 - Total Liabilities & Equity
52,2024-03,0.00,"14,051,670.00","4,159.87",0.00,"-5,454,186.33",0.00,"-835,933.42","7,765,710.13",0.00,"3,650,422,690.22","1,042,157,738.63",0.00,"4,692,580,428.85",0.00,"4,623,709,010.57","68,871,418.28",0.00,"4,692,580,428.85"
51,2024-02,0.00,"29,691,662.12",0.00,0.00,"-4,567,709.04",0.00,"-1,581,115.17","23,542,837.91",0.00,"4,083,073,663.21","913,091,407.04",0.00,"4,996,165,070.25",0.00,"4,929,564,735.87","66,600,334.38",0.00,"4,996,165,070.25"
50,2024-01,0.00,"20,751,255.62","27,376.30",0.00,"-5,943,924.23",0.00,"-5,669,555.33","9,165,152.35",0.00,"4,321,343,136.29","563,679,392.72",0.00,"4,885,022,529.00",0.00,"4,832,474,047.47","52,548,481.53",0.00,"4,885,022,529.00"
49,2023-12,0.00,"14,270,261.48",0.00,0.00,"-6,484,200.84",0.00,"-2,658,930.56","5,127,130.08",0.00,"4,820,477,732.35","400,493,643.71",0.00,"5,220,971,376.06",0.00,"5,168,577,458.38","52,393,917.68",0.00,"5,220,971,376.06"
48,2023-11,0.00,"29,666,040.79",455.03,0.00,"-6,376,789.60",0.00,"-2,974,302.25","20,315,403.96",0.00,"4,636,257,421.47","707,478,489.39",0.00,"5,343,735,910.86",0.00,"5,285,580,181.04","58,155,729.83",0.00,"5,343,735,910.86"

Assets/Revenue Per Type
Coinbase asset type: http://forum.makerdao.com/t/mip81-coinbase-usdc-institutional-rewards/17703/254?u=sebventures

In [43]:
assets_raw = dune.get_latest_result(58495)

In [48]:
assets_p_t_ts = pd.DataFrame(assets_raw.result.rows)
assets_p_t_ts['dt'] = pd.to_datetime(assets_p_t_ts['dt'])
assets_p_t_ts.set_index('dt', inplace=True)

In [49]:
assets_p_t_ts.head()

,annual_revenues,asset,blended_rate,collateral,revenues,total_annual_revenues,total_asset,total_blended_rate
dt,,,,,,,,
2024-03-18 00:00:00+00:00,"1,042,500.00","417,000,000.00",0.00,Coinbase,NaN,"270,692,021.07","4,693,419,946.19",0.06
2024-03-18 00:00:00+00:00,"186,728,568.13","1,193,530,467.78",0.16,ETH,"57,443.13","270,692,021.07","4,693,419,946.19",0.06
2024-03-18 00:00:00+00:00,NaN,"1,074,261,387.68",NaN,Lending Protocols,NaN,"270,692,021.07","4,693,419,946.19",0.06
2024-03-18 00:00:00+00:00,"47,382.65","94,711,410.14",0.00,Liquidity Pools,NaN,"270,692,021.07","4,693,419,946.19",0.06
2024-03-18 00:00:00+00:00,-0.00,0.00,-1.00,Others,NaN,"270,692,021.07","4,693,419,946.19",0.06

Interest Revenues By Vault

In [66]:
ir_v = fetch_dune_data(17338)

In [69]:
ir_v['period'] = pd.to_datetime(ir_v['period'])
ir_v.set_index('period', inplace=True)

In [70]:
ir_v.head()

           collateral  collateral_rank     revenues
period
2024-03-01      ETH-C                3 1,357,142.16
2024-03-01      ETH-A                1 1,213,789.46
2024-03-01   WSTETH-B                5   402,979.25
2024-03-01     Others               99 1,172,488.18
2024-03-01     WBTC-A                2   333,296.27

Dai Maturity Profile

Step-by-Step Process:
Tracking DAI Movements:

First, all transactions involving DAI are tracked to understand how DAI moves in and out of wallets. This includes both inflows (adding DAI to a wallet) and outflows (removing DAI from a wallet).
Defining Maturity Buckets:

Maturity buckets are predefined categories based on time durations, such as "1-day", "1-week", "1-month", "1-year", etc. Each bucket represents a hypothesis about how long DAI tends to stay put before being moved again.
Assigning Weights to Buckets:

Weights are assigned to each maturity bucket to reflect assumptions or historical observations about the distribution of DAI across these buckets. For example, if historically 30% of DAI is moved or used within a day, then the "1-day" bucket might get a weight of 0.30 (or 30%).
Applying Weights Based on Wallet Types:

DAI can be held in different types of wallets or contracts, each with its own expected behavior. For example, DAI in a savings contract (like DSR) might be considered more long-term ("1-year"), while DAI in a regular wallet might be more liquid ("1-day" or "1-week"). The weights applied to the DAI in these wallets reflect these expectations.
Calculating DAI Amounts per Bucket:

For each wallet (or DAI holding), the total amount of DAI is distributed across the maturity buckets based on the assigned weights. This means if a wallet has 100 DAI and the "1-day" bucket weight is 30%, then 30 DAI is considered to have a 1-day maturity.
The process is repeated for each wallet and each maturity bucket, based on the specific weights for that wallet type and the total DAI it holds.
Aggregating Across the Ecosystem:

Finally, to get the ecosystem-wide view, the amounts of DAI in each maturity bucket from all wallets are aggregated. This provides a snapshot of how much DAI is considered to be in each maturity bucket across the entire MakerDAO system at any given time.

In [71]:
d_m = fetch_dune_data(907852)

In [72]:
d_m['dt'] = pd.to_datetime(d_m['dt'])

In [73]:
d_m

,dt,maturity,outflow,outflow_dai_only,outflow_surplus_buffer,total_period
0,2024-03-17 00:00:00+00:00,1-block,"455,303,325.53","455,303,325.53",0.00,"4,696,181,784.92"
1,2024-03-17 00:00:00+00:00,1-year,"2,849,385,485.83","2,780,497,849.17","68,887,636.67","4,696,181,784.92"
2,2024-03-17 00:00:00+00:00,1-month,"137,421,025.79","137,421,025.79",0.00,"4,696,181,784.92"
3,2024-03-17 00:00:00+00:00,1-day,"455,303,325.53","455,303,325.53",0.00,"4,696,181,784.92"
4,2024-03-17 00:00:00+00:00,1-week,"596,016,289.10","596,016,289.10",0.00,"4,696,181,784.92"
...,...,...,...,...,...,...
9505,2019-11-13 00:00:00+00:00,3-months,0.00,0.00,NaN,0.00
9506,2019-11-13 00:00:00+00:00,1-week,0.00,0.00,NaN,0.00
9507,2019-11-13 00:00:00+00:00,1-year,0.00,0.00,NaN,0.00
9508,2019-11-13 00:00:00+00:00,1-block,0.00,0.00,NaN,0.00
9509,2019-11-13 00:00:00+00:00,1-month,0.00,0.00,NaN,0.00

MakerDAO Stablecoin Ratio
This can give insights into the proportion of assets held in stablecoins (including DAI) relative to other assets. A higher stablecoin ratio might suggest a preference for stability within the MakerDAO system, which can have implications for DAI's stability.

In [ ]:
stablecoin_ratio_df = fetch_dune_data(58136)

Maker Peg Stability Module Stats
Data on the Peg Stability Module, which helps maintain DAI's peg to the USD, can be vital. Insights into the inflows, outflows, and balances within the PSM can directly indicate efforts to stabilize DAI.

In [ ]:
psm_stats_df = fetch_dune_data(17216)

DAI on Lending Protocols (MakerDAO - Where is my DAI? Lending):

This can help understand DAI's demand across different lending platforms, which indirectly affects its stability. High demand on lending platforms can signify trust in DAI's stability.

In [ ]:
where_is_dai_df = fetch_dune_data(54599)

Daily surplus buffer
Provides information on the surplus buffer in MakerDAO, which is a key financial metric. The surplus buffer acts as a reserve to cover potential system shortfalls and ensures the stability and solvency of the system. This data could be valuable for understanding the financial health and risk management strategies of MakerDAO over time

In [ ]:
daily_surplus_buffer = fetch_dune_data(482305)

### Now for CoinGecko Crypto Market Data

In [78]:
#lets get price feeds for accepted collateral types

ir_v['collateral'].unique()

array(['ETH-C', 'ETH-A', 'WSTETH-B', 'Others', 'WBTC-A', 'WSTETH-A'],
      dtype=object)

In [80]:
eth_historical_api = "https://api.coingecko.com/api/v3/coins/ethereum/market_chart"
wsteth_historical_api = "https://api.coingecko.com/api/v3/coins/wrapped-steth/market_chart"
wbtc_historical_api = "https://api.coingecko.com/api/v3/coins/wrapped-bitcoin/market_chart"

In [92]:
eth_history, eth_historical_mk, eth_vol = fetch_historical_data(eth_historical_api, api_key_cg)
wsteth_history, wsteth_historical_mk, wsteth_vol = fetch_historical_data(wsteth_historical_api, api_key_cg)
wbtc_history, wbtc_historical_mk, wbtc_vol = fetch_historical_data(wbtc_historical_api, api_key_cg)

In [94]:
wbtc_vol

                            volume
date
2019-02-01 00:00:00      20,589.04
2019-02-02 00:00:00      12,576.72
2019-02-03 00:00:00       1,852.53
2019-02-04 00:00:00       7,029.29
2019-02-05 00:00:00       3,544.65
...                            ...
2024-03-14 00:00:00 374,334,249.21
2024-03-15 00:00:00 504,271,342.99
2024-03-16 00:00:00 627,745,053.62
2024-03-17 00:00:00 350,561,918.46
2024-03-18 00:39:47 307,531,057.82

[1873 rows x 1 columns]

In [89]:
wsteth_history

                       price
date
2021-10-07 00:00:00 3,733.88
2021-10-08 00:00:00 3,733.88
2021-10-09 00:00:00 3,717.25
2021-10-10 00:00:00 3,730.31
2021-10-11 00:00:00 3,563.35
...                      ...
2024-03-14 00:00:00 4,609.60
2024-03-15 00:00:00 4,474.51
2024-03-16 00:00:00 4,328.88
2024-03-17 00:00:00 4,058.99
2024-03-18 00:46:54 4,164.61

[894 rows x 1 columns]

In [90]:
wbtc_history

                        price
date
2019-02-01 00:00:00  3,438.36
2019-02-02 00:00:00  3,472.24
2019-02-03 00:00:00  3,461.06
2019-02-04 00:00:00  3,468.16
2019-02-05 00:00:00  3,476.13
...                       ...
2024-03-14 00:00:00 72,806.20
2024-03-15 00:00:00 71,144.59
2024-03-16 00:00:00 69,077.18
2024-03-17 00:00:00 65,094.08
2024-03-18 00:39:47 67,565.23

[1873 rows x 1 columns]

In [95]:
# DAI Price feed and vol

dai_historical_api = "https://api.coingecko.com/api/v3/coins/dai/market_chart"

dai_history, dai_historical_mk, dai_vol = fetch_historical_data(dai_historical_api, api_key_cg)

In [97]:
dai_vol

                            volume
date
2019-11-19 00:00:00     872,764.20
2019-11-20 00:00:00   4,841,468.55
2019-11-21 00:00:00   1,007,819.53
2019-11-22 00:00:00   3,679,539.55
2019-11-23 00:00:00   7,201,905.09
...                            ...
2024-03-14 00:00:00 446,591,386.08
2024-03-15 00:00:00 516,930,859.40
2024-03-16 00:00:00 944,181,764.74
2024-03-17 00:00:00 819,162,851.94
2024-03-18 00:45:25 473,200,427.63

[1582 rows x 1 columns]